@charset "EUC-KR";

.comment-auto-complete {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
	overflow-x: hidden
}

.comment-auto-complete__item {
	position: relative;
	color: #424242;
	font-size: 15px;
	padding: 13px 40px;
	cursor: pointer;
	line-height: 1
}

.comment-auto-complete__item:after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	left: 20px;
	right: 20px;
	border-bottom: 1px solid #ededed
}

.comment-auto-complete__item:last-child {
	padding-bottom: 12px
}

.comment-auto-complete__item:last-child:after {
	display: none
}

.comment-auto-complete__item.selected {
	background-color: #f3f3f3
}

.comment-content-input {
	position: relative
}

.comment-content-input__text__mention {
	color: #00C89E;
	font-weight: 700;
	text-decoration: underline;
	cursor: text
}

.comment-content-input__popup {
	position: absolute;
	width: 260px;
	z-index: 2000
}

.comment-content-input__mention-item.comment-auto-complete__item {
	position: relative;
	padding: 13px 20px
}

.comment-content-input__mention-item__image {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	vertical-align: bottom
}

.comment-content-input__mention-item__nickname {
	display: inline-block;
	margin-left: 10px;
	padding: 7px 0 8px;
	vertical-align: bottom;
	font-weight: 700
}

.photo-modal__modal {
	text-align: center
}

.photo-modal__modal>.modal__dialog {
	display: inline-block;
	width: auto;
	padding: 15px;
	border-radius: 4px;
	font-size: 0
}

.photo-modal__modal>.modal__dialog>img {
	max-width: calc(100vw - 60px)
}

@media ( min-width :1024px) {
	.photo-modal__modal>.modal__dialog>img {
		max-width: 800px;
		max-height: calc(100vh - 60px)
	}
}

.photo-modal__modal__large-close {
	top: 10px;
	right: 5px
}

@media ( min-width :768px) {
	.photo-modal__modal__large-close {
		top: 20px;
		right: 20px
	}
}

.photo-input {
	display: block;
	margin-top: -10px
}

.photo-input__content {
	margin-top: 10px;
	font-size: 13px;
	line-height: 1.54;
	font-weight: 400;
	text-align: left;
	color: #757575
}

.photo-input__entry, .photo-input__pending, .photo-input__upload {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	vertical-align: bottom
}

.photo-input__entry {
	position: relative;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #d8d8d8;
	border-radius: 4px;
	overflow: hidden
}

.photo-input__entry__button, .photo-input__entry__enlarge {
	position: absolute;
	padding: 5px;
	border: none;
	background: none;
	font-size: 0;
	transition: opacity .1s
}

.photo-input__entry__button:active, .photo-input__entry__button:focus,
	.photo-input__entry__button:hover, .photo-input__entry__enlarge:active,
	.photo-input__entry__enlarge:focus, .photo-input__entry__enlarge:hover
	{
	opacity: .5
}

.photo-input__entry__button {
	top: 0;
	right: 0
}

.photo-input__entry__enlarge {
	top: 0;
	left: 0
}

.photo-input__entry__image {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
	border-radius: 3px
}

.photo-input__pending {
	position: relative;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden
}

.photo-input__pending__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #d8d8d8;
	transition: width .2s
}

.photo-input__upload__button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	color: #424242;
	transition: opacity .1s;
	border-radius: 4px;
	overflow: hidden
}

.photo-input__upload__button:active, .photo-input__upload__button:focus,
	.photo-input__upload__button:hover {
	opacity: .5
}

.photo-input__upload__button>.content {
	display: block;
	text-align: center
}

.photo-input__upload__button>.content>.icon {
	margin-bottom: 8px
}

.photo-input__upload__button--errored {
	border-color: #f77;
	color: #f77
}

.photo-input__upload__button--errored .icon>path {
	fill: #f77
}

.comment-feed__form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative
}

.comment-feed__form__cover {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}

.comment-feed__form__user {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.comment-feed__form__user>img {
	width: 30px;
	height: 30px;
	margin: 5px 10px 0 0;
	border-radius: 100%
}

.comment-feed__form__input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	max-width: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 4px
}

.comment-feed__form__content, .comment-feed__form__input {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 1 0px;
	-ms-flex: 1 1 0px;
	flex: 1 1 0px;
	min-width: 0
}

.comment-feed__form__content__text {
	display: block;
	width: 100%;
	min-height: 38px;
	border: none;
	background: none;
	color: #424242;
	margin: 0;
	padding: 8px 15px 9px;
	font-family: inherit;
	font-size: 15px;
	line-height: 1.4;
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
	box-sizing: border-box
}

.comment-feed__form__content__text::-webkit-input-placeholder {
	color: #bdbdbd
}

.comment-feed__form__content__text::-moz-placeholder {
	color: #bdbdbd;
	opacity: 1
}

.comment-feed__form__content__text:-ms-input-placeholder {
	color: #bdbdbd
}

.comment-feed__form__content__text:-moz-placeholder {
	color: #bdbdbd
}

.comment-feed__form__content__photo .photo-input {
	margin: 2px 15px 15px
}

.comment-feed__form__content__photo .photo-input:empty {
	margin: 0
}

.comment-feed__form__actions {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 7px 15px 7px 0;
	margin: 0 -7.5px;
	font-size: 0
}

.comment-feed__form__photo, .comment-feed__form__submit {
	margin: 0 7.5px;
	padding: 0;
	border: none;
	background: none;
	transition: opacity .2s
}

.comment-feed__form__photo:active, .comment-feed__form__photo:focus,
	.comment-feed__form__photo:hover {
	opacity: .8
}

.comment-feed__form__submit {
	color: #00C89E;
	font-size: 15px;
	font-weight: 700
}

.comment-feed__form__submit:active, .comment-feed__form__submit:focus,
	.comment-feed__form__submit:hover {
	color: #6cd5f4
}

.comment-feed__form__submit:disabled {
	color: #a3e4f8
}

.comment-feed__reply-list__more {
	margin-top: 15px;
	margin-bottom: 9px
}

.comment-feed__reply-list__more__btn {
	padding: 5px 0;
	font-size: 13px;
	line-height: 20px;
	border: none;
	color: #00C89E;
	background: none;
	font-weight: 700;
	text-decoration: underline
}

.comment-feed__reply-list__more__btn>.more-icon {
	vertical-align: -2px;
	margin-right: 5px
}

.comment-feed__reply-list__list {
	margin-top: 20px
}

.comment-feed__reply-list__more+.comment-feed__reply-list__list {
	margin-top: 0
}

.comment-feed__reply-list__list .comment-feed__list__item .comment-feed__item
	{
	margin-bottom: 10px;
	padding: 20px 20px 20px 61px;
	border-radius: 8px;
	background-color: #f7f8fa
}

.comment-feed__reply-list__list .comment-feed__list__item .comment-feed__item.self
	{
	background-color: #effbff
}

.comment-feed__item {
	margin-bottom: 20px;
	padding-left: 40px
}

@media ( min-width :768px) {
	.comment-feed__item {
		margin-bottom: 30px
	}
}

.comment-feed__item__content {
	position: relative;
	margin: -4px 0 4px;
	min-width: 0;
	max-width: 100%;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 15px;
	line-height: 1.67
}

.comment-feed__item__content__author {
	display: block;
	margin: 0 0 -5px;
	font-size: 0;
	line-height: 20px
}

@media ( min-width :768px) {
	.comment-feed__item__content__author {
		display: inline;
		margin: 0 10px 0 0;
		line-height: inherit
	}
}

.comment-feed__item__content__author:active,
	.comment-feed__item__content__author:focus,
	.comment-feed__item__content__author:hover {
	text-decoration: underline
}

.comment-feed__item__content__author__image {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 2px;
	left: -40px;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #dbdbdb
}

@media ( min-width :768px) {
	.comment-feed__item__content__author__image {
		top: 5px
	}
}

.comment-feed__item__content__author__name {
	color: #424242;
	font-weight: 700;
	font-size: 15px
}

.comment-feed__item__content__author__pro {
	display: inline-block;
	margin-left: 3px;
	vertical-align: -2px
}

.comment-feed__item__content__mentor {
	display: block;
	padding-left: 1px;
	color: #00C89E;
	font-size: 13px
}

@media ( min-width :768px) {
	.comment-feed__item__content__mentor {
		display: inline-block;
		margin-left: -3px
	}
}

.comment-feed__item__content__mentor>svg {
	vertical-align: -1px
}

.comment-feed__item__content__mentor+.comment-feed__item__content__content
	{
	display: block
}

.comment-feed__item__content__content {
	white-space: pre-line
}

.comment-feed__item__content__content a {
	color: #35c5f0
}

.comment-feed__item__content__content a:hover {
	color: #a3e4f8
}

.comment-feed__item__content__content>svg {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 5px
}

.comment-feed__item__content__content.removed {
	color: #bdbdbd
}

.comment-feed__item__image {
	margin: 6px 0 8px;
	padding: 0;
	border: none;
	background: none
}

.comment-feed__item__image>img {
	max-width: 100%;
	max-height: 220px
}

.comment-feed__item__footer {
	color: #757575;
	font-size: 13px;
	font-weight: 700
}

.comment-feed__item__footer>:after {
	display: inline-block;
	color: #bdbdbd;
	content: "";
	margin: 0 5px;
	font-size: 13px;
	font-weight: 400
}

.comment-feed__item__footer>:last-child:after {
	content: "";
	display: none
}

.comment-feed__item__footer>a, .comment-feed__item__footer>button {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	font-size: 13px;
	font-weight: inherit;
	font-family: inherit
}

.comment-feed__item__footer>a:active, .comment-feed__item__footer>a:focus,
	.comment-feed__item__footer>a:hover, .comment-feed__item__footer>button:active,
	.comment-feed__item__footer>button:focus, .comment-feed__item__footer>button:hover
	{
	text-decoration: underline
}

.comment-feed__item__footer__time {
	font-weight: 400
}

.comment-feed__item__footer__likes__icon {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	font-size: 13px;
	font-weight: inherit;
	font-family: inherit
}

.comment-feed__item__footer__likes__icon:active,
	.comment-feed__item__footer__likes__icon:focus,
	.comment-feed__item__footer__likes__icon:hover {
	text-decoration: underline
}

.comment-feed__item__footer__likes__icon>.badge {
	vertical-align: -2px;
	margin-right: 3px
}

.comment-feed__item__footer__likes__icon>.badge .heart {
	stroke: #757575;
	stroke-width: 1.1px;
	fill: transparent;
	transition: stroke .1s, fill .1s
}

.comment-feed__item__footer__likes__icon>.badge.liked .heart {
	stroke: #00C89E;
	fill: #00C89E;
}

.comment-feed__item__footer__likes.zero .comment-feed__item__footer__likes__count,
	.comment-feed__item__footer__likes.zero:after {
	display: none
}

.comment-feed__item__footer>.comment-feed__item__footer__like-cancel-btn
	{
	font-weight: 400
}

.comment-feed__item__footer>.comment-feed__item__footer__delete-btn,
	.comment-feed__item__footer>.comment-feed__item__footer__report-btn {
	font-weight: 400;
	color: #bdbdbd
}

.comment-feed__item__reply-form {
	margin-left: 0;
	padding: 10px 0 0 18px
}

@media ( min-width :1024px) {
	.comment-feed__item__reply-form {
		margin-left: 40px;
		border: none
	}
}

.comment-feed__item__reply-form--no-comments {
	margin-left: 0
}

.comment-feed__item__footer+.comment-feed__item__reply-form {
	margin-top: 10px
}

.comment-feed__item--placeholder .comment-feed__item__content__author__name,
	.comment-feed__item--placeholder .comment-feed__item__content__content
	{
	display: inline-block;
	height: 1em;
	margin: 5px 0 1px
}

.comment-feed__item--placeholder .comment-feed__item__content__author__name
	{
	width: 6em;
	background-color: #dbdbdb
}

.comment-feed__item--placeholder .comment-feed__item__content__content {
	width: 14em;
	background-color: #ededed
}

.comment-feed__item--placeholder .comment-feed__item__footer__placeholder
	{
	display: inline-block;
	height: 1em;
	width: 3em;
	margin: 4px .6em 1px 0;
	background-color: #dbdbdb
}

.comment-feed__item--placeholder .comment-feed__item__footer__placeholder.action
	{
	background-color: #ededed
}

.comment-feed__item--placeholder .comment-feed__item__footer__placeholder:after
	{
	display: none
}

.list-paginator {
	text-align: center;
	
}

.list-paginator>li {
	display: inline-block;
	vertical-align: bottom;
	font-size: 0;
	

}

.list-paginator__page {
	
	display: none;
	min-width: 10px;
	margin: 0 2px;
	padding: 5.5px 5px;
	/* box-sizing: border-box; */
	border: none;
	background-color: transparent;
	border-radius: 4px;
	font-family: inherit;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	color: #424242;
	transition: background-color .1s, color .1s
}

.list-paginator__page.focus-visible:focus {
	color: #00C89E
}

@media ( min-width :768px) {
	.list-paginator__page:active, .list-paginator__page:hover {
		color: #00C89E
	}
}

@media ( min-width :768px) {
	.list-paginator__page {
		display: block
	}
}

.list-paginator__page.selected {
	background-color: #00C89E;
	color: #fff;
	text-decoration: none
}

.list-paginator__page.sm {
	display: block
}

.list-paginator__end, .list-paginator__next, .list-paginator__prev,
	.list-paginator__start {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 0;
	transition: opacity .1s
}

.list-paginator__end.focus-visible:focus, .list-paginator__next.focus-visible:focus,
	.list-paginator__prev.focus-visible:focus, .list-paginator__start.focus-visible:focus
	{
	opacity: .5
}

@media ( min-width :768px) {
	.list-paginator__end:active, .list-paginator__end:hover,
		.list-paginator__next:active, .list-paginator__next:hover,
		.list-paginator__prev:active, .list-paginator__prev:hover,
		.list-paginator__start:active, .list-paginator__start:hover {
		opacity: .5
	}
}

.list-paginator__prev {
	margin-right: 20px
}

@media ( min-width :768px) {
	.list-paginator__prev {
		margin-right: 25px
	}
}

.list-paginator__next {
	margin-left: 20px
}

@media ( min-width :768px) {
	.list-paginator__next {
		margin-left: 25px
	}
}

.list-paginator__start {
	margin-right: 5px
}

.list-paginator__end {
	margin-left: 5px
}

.comment-feed__header {
	font-weight: 700;
	color: #000;
	margin: 10px 0 20px;
	font-size: 16px
}

@media ( min-width :768px) {
	.comment-feed__header {
		font-size: 18px
	}
}

.comment-feed__header__count {
	color:  #00C89E;
}

.comment-feed__header__count.zero {
	color: #000
}

.comment-feed__form {
	margin-bottom: 30px
}

.comment-feed__modal {
	text-align: center
}

.comment-feed__modal>.modal-dialog {
	display: inline-block;
	width: auto;
	padding: 15px
}

.comment-feed__modal__content {
	display: inline-block;
	width: auto
}

.comment-feed__modal__image {
	max-width: calc(100vw - 60px)
}

@media ( min-width :1024px) {
	.comment-feed__modal__image {
		max-width: 800px
	}
}

.comment-feed>.paginator {
	margin-top: 30px
}

